@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center Vu">
     
    <h1 class="display-4">Welcome</h1>
    
</div>
<div class="Vu-Black">
   <p>the answer is within me</p> 
   
   <!-- integral f(x) from a to b -->
</div>
<div class="text-center Vu">
     
    <h2>find the tail and complete the link</h2>
    <h3>bit.ly/</h3>
    
</div>
